<%= form_with(model: musica, local: true) do |form| %>
  <% if musica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(musica.errors.count, "error") %> prohibited this musica from being saved:</h2>

      <ul>
      <% musica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :musica_titulo %>
  </div>

  <div class="field">
    <%= form.label :musico %>
    <%= form.text_field :musico, id: :musica_musico %>
  </div>

  <div class="field">
    <%= form.label :temas %>
    <%= form.text_field :temas, id: :musica_temas %>
  </div>

  <div class="field">
    <%= form.label :url_cifras %>
    <%= form.text_field :url_cifras, id: :musica_url_cifras %>
  </div>

  <div class="field">
    <%= form.label :cifras %>
    <%= form.text_area :cifras, id: :musica_cifras, rows: 20, cols: 60 %>
  </div>

  <div class="field">
    <%= form.label :popularidade %>
    <%= form.number_field :popularidade, id: :musica_popularidade %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
    <%= link_to 'Cancelar', musicas_path %>
  </div>
<% end %>
