<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Musicas</h1>

<table>
  <tfoot>
    <tr>
      <td colspan="2">
        <%= link_to 'Nova Música', new_musica_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
  <% @musicas.each do |musica| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

      <td>
        <h2 class="nome"><%= musica.nome %></h2>
        <h3 class='autor_e_compositor'><%= musica.autor_e_compositor %></h3>
        <div class='temas'><%= musica.temas %></div>
      </td>

      <td class="actions">
        <ul>
          <li><%= link_to 'Show', musica %></li>
          <li><%= link_to 'Edit', edit_musica_path(musica) %></li>
          <li>
            <%= link_to 'Destroy',
                        musica,
                        method: :delete,
                        data: { confirm: 'Tem certeza?' } %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

