<p id="notice"><%= notice %></p>
<div class="musica">
    <h1 class="titulo"><%= @musica.titulo %></h1>

  <p>
    <span class='musico'><%= @musica.musico %></span>
  </p>

  <p>
    <span class="temas"><%= @musica.temas %></span>
  </p>

  <p>
    <strong>Popularidade:</strong>
    <span class="popularidade"><%= @musica.popularidade %></span>
  </p>

  <p>
    <strong>Cifras externas:</strong>
    <span class="url_cifras"><a href="<%= @musica.url_cifras %>"><%= @musica.url_cifras %></a></span>
  </p>

  <p>
    <strong>Nosso arranjo:</strong>
    <pre class="cifras"><%= @musica.cifras %></pre>
  </p>

</div>
<%= link_to 'Edit', edit_musica_path(@musica) %> |
<%= link_to 'Back', musicas_path %>
