<% if notice %>
  <aside id='notice'><%= notice %></aside>
<% end %>

<h1>Músicas para <%= @evento %></h1>

<ul class='musicas'>

    <% @evento.musica_selecionadas.each do |selecao| %>
      <li>
        <%= "#{selecao.momento}: #{selecao.musica.titulo}" %>
        <%= link_to 'Edit', edit_musica_selecionada_path(selecao) %>
        <%= link_to 'Show', selecao.musica %>
      </li>
    <% end %>
  </ul>
