<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @evento.nome %>
</p>

<p>
  <strong>Data:</strong>
  <%= @evento.data %>
</p>

<p>
  <strong>Topicos:</strong>
  <%= @evento.topicos %>
</p>

<p>
  <strong>Celebrante:</strong>
  <%= @evento.celebrante %>
</p>


<p>
  <strong>Musicas:</strong>
  <ul>
    <% @evento.musica_selecionadas.each do |selecao| %>
      <li>
        <%= "#{selecao.momento}: #{selecao.musica.titulo}" %>
        <%= link_to 'Edit', edit_musica_selecionada_path(selecao) %>
        <%= link_to 'Show', selecao.musica %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
