<!DOCTYPE html>
<html>
<head>
  <title>Lista de Músicas</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class="main">
  <%= image_tag 'logo.svg', alt: 'Lista de Músicas' %>
  <h1>Pray list<%= @page_title %></h1>
</header>
<section class='content'>
  <nav class="side_nav">
    <ul>
      <li><a href="/">Agora</a></li>
      <li><a href="/eventos">Eventos</a></li>
      <li><a href="/musicas">Musicas</a></li>
      <li><a href="/chat">Chat</a></li>
    </ul>
  </nav>

  <main class="<%= controller.controller_name %>">
    <%= yield %>
  </main>
</section>

</body>
</html>
